.card__name {
  font-size: 13px;
  line-height: 16px;
  font-family: inherit;
  font-weight: 400;
  text-align: start;
  margin: 5px 0 0 0;
  max-width: 225px;
  max-height: 35px;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}