.header__auth {
font-family: 'Arial', 'Impact', sans-serif;
font-weight: 500;
font-size: 12px;
line-height: 16px;
text-align: center;
letter-spacing: .06rem;
}

@media screen and (max-width: 460px) {
  .header__auth {
  font-size: 10px;
  letter-spacing: .04rem;
  }
}