@import url(./__form/search__form.css);
@import url(./__field/search__field.css);
@import url(./__button/search__button.css);
@import url(./__wrapper/search__wrapper.css);
@import url(./__label/search__label.css);
@import url(./__toggle-wrapper/search__toggle-wrapper.css);

.search {
  margin: 79px 70px 0 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(170, 170, 170, 20%);
}

@media screen and (max-width: 1000px) {
  .search {
    margin: 58px 30px 0 30px;
  }
}

@media screen and (max-width: 600px) {
  .search {
    margin: 58px 10px 0 10px;
  }
}