.project__article-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 0 0;
  text-align: start;
}

@media screen and (max-width: 768px) {
  .project__article-text {
  font-size: 12px;
  line-height: 18px;
  }
}

@media screen and (max-width: 550px) {
  .project__article-text {
    font-size: 11px;
    line-height: 16px;
  }
}