.nav__item {
  text-decoration: underline;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  padding: 20px 20px;
}

@media screen and (max-width: 600px) {
  .nav__item {
    font-size: 11px;
    padding: 10px 10px;
  }
}