.techs__item {
  padding-top: 21px;
  min-width: 90px;
  min-height: 60px;
  background-color: #E8E8E8;
  border-radius: 10px;
  font-size: 14px;
  line-height: 17px;
  margin: 5px;
  text-align: center;
  box-sizing: border-box;
  letter-spacing: -.04rem;
}

@media screen and (max-width: 768px) {
  .techs__item {
    font-size: 12px;
    line-height: 15px;
    min-width: 84px;
    min-height: 57px;
  }
}

@media screen and (max-width: 600px) {
  .techs__item {
  }
}