.header__auth_active {
  background-color: #3456F3;
  padding: 8px 18px 8px 18px;
  color: white;
  border-radius: 3px;
}

@media screen and (max-width: 460px) {
  .header__auth_active {
  padding: 5px 13px 5px 10px;
  }
}